<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns       = "http://www.w3.org/ns/widgets"
        version     = "1.6"
        id          = "http://kindle.amazon.com/ns/widgets/translation"
        viewmodes   = "windowed"
        xmlns:kindle  = "http://kindle.amazon.com"
        xmlns:ui    = "http://kindle.amazon.com/ns/ui"
        xmlns:amzn  = "http://kindle.amazon.com/ns/overlays">

    <name short="Translation">Translation</name>
    <name short="Übersetzen" xml:lang="de">Übersetzen</name>
    <name short="Translation" xml:lang="en-gb">Translation</name>
    <name short="Traductor" xml:lang="es">Traductor</name>
    <name short="Traducteur" xml:lang="fr">Traducteur</name>  
    <name short="Traduttore" xml:lang="it">Traduttore</name>
    <name short="翻訳機能" xml:lang="ja">翻訳機能</name>
    <name short="Tradutor" xml:lang="pt-br">Tradutor</name>
    <name short="翻译" xml:lang="zh-cn">翻译</name>

    <feature name="http://kindle.amazon.com/features/reader" required="true"></feature>
    <feature name="http://kindle.amazon.com/features/DeviceEventTracking" required="true">
        <param name="metricComponentPrefix" value="ACX_" />
        <param name="metricIdentifierSuffix" value="_translation" />
    </feature>
    <feature name="http://kindle.amazon.com/features/connectivity" required="true">
        <param name="networkAccessGrants" value="sponsored, userSupplied" />
        <param name="canForceConnect" value="true" />
    </feature>
    <feature name="http://kindle.amazon.com/features/gestures" required="true"></feature>
    <feature name="http://kindle.amazon.com/features/marketplace" required="true"></feature>
    <feature name="http://kindle.amazon.com/features/pagination" required="true"></feature>
    <feature name="http://kindle.amazon.com/apis" required="true">
        <param name="popup" value="yes" />
    </feature>
    <feature name="http://kindle.amazon.com/features/localstorage" required="false"></feature>

    <description>Display a translation of the selected text.</description>
    <description xml:lang="de">Zeigen Sie eine Übersetzung des ausgewählten Textes an.</description>
    <description xml:lang="en-gb">Display a translation of the selected text.</description>
    <description xml:lang="es">Muestra la traducción del texto seleccionado.</description>
    <description xml:lang="fr">Affiche la traduction du texte sélectionné.</description>
    <description xml:lang="it">Visualizza una traduzione del testo selezionato.</description>
    <description xml:lang="ja">選択したテキストの翻訳を表示します。</description>
    <description xml:lang="pt-br">Exibe uma tradução do texto selecionado.</description>
    <description xml:lang="zh-cn">显示所选文本的译文。</description>

    <author href="http://www.amazon.com/">Amazon.com, Inc.</author>

    <access origin="https://translate-acx.amazon.com" subdomains="false" kindle:authentication="token" />
    <access origin="https://translate-acx.amazon.co.uk" subdomains="false" kindle:authentication="token" />
    <access origin="http://david.smidovi.eu" subdomains="false" kindle:authentication="token" />

    <amzn:networkrequestmod destination="translate-acx.amazon.com" modificationScheme="tokenAuth" />
    <amzn:networkrequestmod destination="translate-acx.amazon.co.uk" modificationScheme="tokenAuth" />

    <!-- only enable Translation when it's NOT an image being selected -->
    <ui:enableIfNotEquals key="kindle.reader.selection.targetTypes" value="imageOnly" />

    <kindle:eventTypes>onselect</kindle:eventTypes>
    <kindle:requiresRegistration>true</kindle:requiresRegistration>
    <kindle:buttonPriority>1000</kindle:buttonPriority>
</widget>
